body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.orders-table {
    border: black 2px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.orders-table thead tr {
    background-color: black;
    color: white;
}

.orders-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.orders-table tr td {
    padding: 15px 25px;
}

.lineitem-table {
    border: black 2px;
    margin-left: 50px;
}

    .lineitem-table thead tr {
        background-color:darkgrey;
    }

    .lineitem-table tr:nth-child(even) {
        background-color: tan;
    }

    .lineitem-table tr td {
        padding: 15px 25px;
    }
